:root {
	--dark: hsl(240, 5.9%, 10%);
	--white: #ffffff;
	--gray: hsl(240, 4.9%, 83.9%);
	--main-bg: hsl(210, 20%, 98%);
	--danger: hsl(0, 84.2%, 60.2%);
	--video-stream-btn-clr: hsl(199, 88.7%, 48.4%);
	--audio-stream-btn-clr: hsl(350, 89.2%, 60.2%);
	--download-btn-clr: hsl(142, 70.6%, 45.3%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-size: 16px;
	font-family: Sans-Serif;
	background: var(--main-bg);
	color: var(--dark);
}

.error {
	color: var(--danger);
	font-size: 0.9rem;
}

.hrline {
	width: 100%;
	height: 2.5px;
	background: var(--gray);
	border-radius: 50px;
}

header {
	padding: 1rem;
	border-bottom: 1.5px solid var(--gray);
}

header h1 {
	font-size: 1.5rem;
}

header p {
	font-size: 1.1rem;
}

section.input {
	padding: 1.5rem;
}

section.input form {
	display: grid;
	gap: 0.5rem;
}

section.input input, section.input button {
	padding: 1rem;
	border: none;
	border-radius: 0.5rem;
	background: none;
	font-size: 1rem;
	outline: none;
}

section.input input {
	border: 1.5px solid var(--gray);
}

section.input button {
	background: var(--dark);
	color: var(--white);
	cursor: pointer;
}

section.video-info {
	padding: 1.5rem;
}

section.video-info .heading {
	margin-bottom: 1rem;
	display: grid;
	place-items: center;
	gap: 0.5rem;
}

section.video-info .heading img {
	width: 70%;
	aspect-ratio: 2/1;
	object-fit: cover;
	object-position: center;
}

section.video-info .heading h2 {
	font-weight: 400;
}

section.video-info .streams-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.8rem;
}

section.video-info .streams-group button {
	padding: 0.7rem;
	border: none;
	border-radius: 0.3rem;
	background: none;
	color: var(--white);
	font-size: 1rem;
	cursor: pointer;
}

section.video-info .video-streams {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

section.video-info .video-streams h3 {
	font-weight: 400;
}

section.video-info .video-streams button {
	background: var(--video-stream-btn-clr);
}

section.video-info .audio-streams {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

section.video-info .audio-streams h3 {
	font-weight: 400;
}

section.video-info .audio-streams button {
	background: var(--audio-stream-btn-clr);
}

section.download {
	padding: 1.5rem;
}

section.download .heading {
	margin-bottom: 1rem;
	display: grid;
	place-items: center;
	gap: 0.5rem;
}

section.download .heading img {
	width: 70%;
	aspect-ratio: 2/1;
	object-fit: cover;
	object-position: center;
}

section.download .heading h2 {
	font-weight: 400;
}

section.download .btn-group {
	display: grid;
	gap: 0.7rem;
}

section.download button {
	padding: 1rem;
	border: none;
	border-radius: 0.5rem;
	background: none;
	font-size: 1rem;
	color: var(--white);
	cursor: pointer;
}

section.download button:first-child {
	background: var(--download-btn-clr);
}

section.download button:last-child {
	background: var(--dark);
}
